body {
  background: #fffff8;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;

  margin: 0;
}

#app {
  display: grid;
  grid-auto-rows: minmax(60px, auto);
  height: 100vh;
  background: #484848;
  color: #f0d43a;
  justify-content: center;
  grid-gap: 1em;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
}

.holder {
  width: 100%;
}

.holder.zip {
  display: flex;
  gap: 16px;
  align-items: center;
}

.holder.zip #zip {
  flex-grow: 1;
}

.holder.feel {
  width: 100%;
  display: flex;
  gap: 16px;
  flex-direction: column;
}

.myInput {
  max-width: 90vw;
  min-height: 100px;
}

.entry {
  background: rgba(59, 74, 107, 0.4);
}

#entryHolder {
}

#date {
}

#temp {
}

#content {
}

.headline {
  text-align: center;
  padding: 16px;
  font-size: 32px;
  box-sizing: border-box;
}
.title {
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label {
  display: block;
  font-size: 27px;
}

input {
  display: block;
  height: 60px;
  width: 320px;
  background: #22b2da61;
  color: #f0d43a;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  border: none;
}

button {
  width: 100%;
  height: 50px;
  background: #3b4a6b;
  color: #f0d43a;
  font-size: 26px;
  font-family: "Oswald", sans-serif;
  border: none;
  box-shadow: 2px 4px 5px #33245b78;
}
h1 {
  font-size: 36px;
}

textarea {
  background: #22b2da61;
  color: #f0d43a;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
/* Style for Placeholder Text*/
::placeholder {
  /* Firefox, Chrome, Opera */
  color: #f0d43a;
  font-family: "Oswald", sans-serif;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #f0d43a;
  font-family: "Oswald", sans-serif;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #f0d43a;
  font-family: "Oswald", sans-serif;
}
